---
metadata:
    url: {{ manifest.url }}
---

<!DOCTYPE html>
<html lang="{{ page.lang }}">
    {% include 'components/head.njk' %}
    <body>
        {% include 'components/header.njk' %}
        <main>
            <div class="warning">{{ i18n[page.lang].under_construction }}</div>
            {{ content | safe }}
        </main>
        {% include 'components/footer.njk' %}
    </body>
</html>