---
layout: base
numberOfLatestPostsToShow: 3
---

{{ content | safe }}

{% set collectionName = "post-" + page.lang %}
{% set postslistCounter = collections[collectionName] | length %}
{% set postslist = collections[collectionName] | head(-1 * numberOfLatestPostsToShow) %}

<h2>
  {{ i18n[page.lang].recent_posts }}
</h2>

{% include "components/posts.njk" %}