---
layout: base
class: post
---

<article>

    <h1>{{ title }}</h1>
    {{ content | toc | safe }}
    <div class="post-metadata-time">
        Last updated: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </div>
    <ul role="list" class="post-metadata-tags">
        <li>Tags:</li>
        {%- for tag in tags | filterTagList %}
            {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <li>
                <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
            </li>
            {%- if not loop.last %}
                <li>·</li>
            {% endif %}
        {%- endfor %}
    </ul>
    {%- if page.url | locale_links | length %}
        <ul role="list" class="post-metadata-locales">
            <li>Available in:</li>
            {%- for link in page.url | locale_links %}
                <li>
                    <a href="{{link.url}}" lang="{{link.lang}}" hreflang="{{link.lang}}">{{link.label}}</a>
                </li>
                {%- if not loop.last %}
                    <li>·</li>
                {%- endif %}
            {%- endfor %}
        </ul>
    {%- endif %}

    {{ content | safe }}

</article>