---
layout: base
---

<article>

    <h1>{{ title }}</h1>
    <ul role="list" class="post-metadata-time">
        <li>
            <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
        </li>
    </ul>
    <ul role="list" class="post-metadata-tags">
        {%- for tag in tags | filterTagList %}
            {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <li>
                <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
            </li>
            {%- if not loop.last %}<li>-</li>{% endif %}
        {%- endfor %}
    </ul>
    <aside>
        {{ content | toc | safe }}
    </aside>
    {{ content | safe }}
    
</article>