<footer>
    <hr>
    <div>
        {{ i18n[page.lang].suggestions }}
    </div>
    <div>
        {{ i18n[page.lang].report }}
        <a href="https://github.com/DevZoneOne/devzone.one/issues">GitHub</a>
        <a href="https://github.com/DevZoneOne/devzone.one/tree/main/{{ page.inputPath.slice(2) }}" target="_blank">(source file)</a>
    </div>
    <p/>
    <div class="footer--fathom">
        {{ i18n[page.lang].protect_privacy }}
        <a href="https://usefathom.com/ref/DTPELY" target="_blank">Fathom Analytics</a>!
    </div>
    <hr>
    <div class="footer--copyright">© {% year %} DevZone.one</div>
    <hr>
    <div class="footer--trademarks">DevZone.one & <a href="https://devzone.solutions">DevZone.Solutions</a>
        {{ i18n[page.lang].trademarks }}
        <a href="https://divezone.company">The DiveZone Company</a>
    </div>
</footer>