<head>
  <!-- PAGE DATA -->
  {%- set pageTitle = manifest.title %}
  {%- set shortTitle = manifest.title %}
  {%- if title %}
    {%- set pageTitle = title + " | " + manifest.title %}
    {%- set shortTitle = title %}
  {%- endif %}
  <title>{{ pageTitle }}</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="title" content="{{ pageTitle }}">
  <meta name="og:site_name" content="{{ manifest.title }}">
  <meta name="og:title" content="{{ shortTitle }}">
  <meta name="og:url" content="{{manifest.url}}{{ page.url }}">
  <meta name="og:web:url" content="{{manifest.url}}{{ page.url }}">
  <meta name="description" content="{{ description or manifest.meta.description }}">
  <meta name="keywords" content="{{ manifest.meta.keywords.join(', ')}}">
  <meta name="author" content="{{ author or manifest.meta.author }}">
  {%- for link in page.url | locale_links %}
    <link rel="alternate" hreflang="{{link.lang}}" href="{{manifest.url}}{{link.url}}">
  {%- endfor %}
  <!-- STYLING -->
  <link rel="stylesheet" href="/css/{{ manifest['style.css'] }}"/>
  {%- for file in css %}
    <link rel="stylesheet" href="/css/{{file}}"/>
  {%- endfor %}
  <!-- FEEDS -->
  <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
  <link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">
  <!-- ANALYTICS -->
  {% include './analytics.njk' %}
</head>